@page
@model FrontEnd.Pages.Empresas.DetalleModel
@{
}

<h4 class="text-center">Detalle Empresa</h4>

<div class="card">
    <div class="card-body">
        
        <div class="col-med-12">
        <div class="col-med-12">
            <p><strong>Nombre Empresa: </strong>@Model.Empresa.Nombre</p>
        </div>
        <div class="col-med-4">
            <p><strong>Nit de la Empresa: </strong>@Model.Empresa.NIT</p>
        </div>

        <div class="col-med-4">
            <p><strong>Nit de la Empresa: </strong>@Model.Empresa.Id</p>
        </div>
        </div>
    </div>
</div>

<h4>LISTADO DIRECTIVOS</h4>
<table class="table">
    <thead class="table-dark text-center">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Sueldo Bruto</th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var empleado in Model.listadoDirectivos)
        {
            <tr>
                <th scope="row">@directivo.Id</th>
                <td>@directivo.Nombre</td>
                <td>@directivo.Sueldo_Bruto("C")</td>
            </tr>
        }
    </tbody>
</table>