@page
@model FrontEnd.Pages.Empresas.DetalleModel
@{
}

<h4 class="text-center">DETALLE DE LA EMPRESA</h4>

<div class="card">
    <div class="card-body">
        
        <div class="col-med-12">
        <div class="col-med-12">
            <p><strong>Nombre Empresa: </strong>@Model.Empresa.Nombre</p>
        </div>
        <div class="col-med-4">
            <p><strong>Nit de la Empresa: </strong>@Model.Empresa.NIT</p>
        </div>

        <div class="col-med-4">
            <p><strong>Nit de la Empresa: </strong>@Model.Empresa.Id</p>
        </div>
        </div>
    </div>
</div>

<br>
<h4>LISTADO DE DIRECTIVOS</h4>
<table class="table">
    <thead class="table-dark text-center">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Sueldo Bruto</th>
            <th scope="col">Categoria</th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var Directivo in Model.listadoDirectivos)
        {
            <tr>
                <th scope="row">@Directivo.Id</th>
                <td>@Directivo.Nombre</td>
                <td>@Directivo.Sueldo_Bruto.ToString("C")</td>
                <td>@Directivo.Categoria.ToString()</td>
            </tr>
        }
    </tbody>
</table>

<br>
<h4>LISTADO DE EMPLEADOS</h4>
<table class="table">
    <thead class="table-dark text-center">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Sueldo Bruto</th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var empleado in Model.listadoEmpleados)
        {
            <tr>
                <th scope="row">@empleado.Id</th>
                <td>@empleado.Nombre</td>
                <td>@empleado.Sueldo_Bruto.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>

<br>
<h4>LISTADO DE CLIENTES</h4>
<table class="table">
    <thead class="table-dark text-center">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Telefono</th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var cliente in Model.listadoClientes)
        {
            <tr>
                <th scope="row">@cliente.Id</th>
                <td>@cliente.Nombre</td>
                <td>@cliente.Telefono</td>
            </tr>
        }
    </tbody>
</table>
<br>

<a asp-page="./Listado" class="btn btn-warning">
    <i class="fa fa-arrow-left"></i>
    Regresar
</a>