@page
@model FrontEnd.Pages.Directivos.DetalleModel
@{
}
<h4 class="text-center">DETALLE DEL DIRECTIVO</h4>
<div class="card">
    <div class="card-body">
        <p><strong>Nombre completo: </strong>@Model.Directivo.Nombre</p>
        <p><strong>Fecha de nacimiento: </strong>@Model.Directivo.Fecha_Nacimiento.ToShortDateString()</p>
        <p><strong>Sueldo bruto: </strong>@Model.Directivo.Sueldo_Bruto.ToString("C")</p>
        <p><strong>Categoría: </strong>@Model.Directivo.Categoria</p>
        <p><strong>Empresa a la que pertenece: </strong>@Model.Empresa.Nombre</p>
    </div>
</div>
<br>
<h4>LISTADO DE EMPLEADOS A CARGO</h4>
<table class="table">
    <thead class="table-dark text-center">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Sueldo Bruto</th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var empleado in Model.listadoEmpleados)
        {
            <tr>
                <th scope="row">@empleado.Id</th>
                <td>@empleado.Nombre</td>
                <td>@empleado.Fecha_Nacimiento.ToShortDateString()</td>
                <td>@empleado.Sueldo_Bruto.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>
<br>
<a asp-page="./Listado" class="btn btn-warning">
    <i class="fa fa-arrow-left"></i>
    Regresar
</a>